/*  Color Override Sample */
body {
  background: #FFE4B2;
}

.navbar-default {
  background-color: #ff850c;
  border-color: #ff4f00;
}
.navbar-default .navbar-brand {
  color: #fff7ac;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f0e27c;
}
.navbar-default .navbar-text {
  color: #fff7ac;
}
.navbar-default .navbar-nav > li > a {
  color: #fff7ac;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f0e27c;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f0e27c;
  background-color: #ff4f00;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f0e27c;
  background-color: #ff4f00;
}
.navbar-default .navbar-toggle {
  border-color: #ff4f00;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ff4f00;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff7ac;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff7ac;
}
.navbar-default .navbar-link {
  color: #fff7ac;
}
.navbar-default .navbar-link:hover {
  color: #f0e27c;
}
.navbar-nav .open .dropdown-menu {
  background-color: white;
}

.navbar-nav .open .dropdown-menu:hover,
.navbar-nav .open .dropdown-menu:focus {
  color: orange;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: black;
}


.navbar-nav .open .dropdown-menu > a,
.navbar-nav .open .dropdown-menu > a:hover,
.navbar-nav .open .dropdown-menu > a:focus {
  color: orange;
}

.navbar-footer {
  background: #fff6e5;
  border-top: 2px solid orange;
}


.active-trans {
   background-image: none;
   background-color: #FFE4B2;
   background-color: #fff6e5;
   background: #fff6e5 !important;
   color: red;

}
.row {
  border-top: 3px solid orange;
}
.tran-menu-a {
    color: black;
}
.tran-menu-a:hover {
    color: orange;
}
.start-btn, .stop-btn {
    background-color: orange;
    border-color: #ff4f00;
}
.start-btn:hover, .start-btn:active, .start-btn:focus,
.stop-btn:hover, .stop-btn:active, .stop-btn:focus {
    background-color: #ff4f00;
    border-color: orange;
}
.grad {
    background: #FFE4B2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffc966, #ffdb99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffc966, #ffdb99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffc966, #ffdb99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffc966, #ffdb99); /* Standard syntax */
}

.user-profile-user {
   border-color: #ff850c;
}

