*.pyc
*.log
*.sqlite3
nohup.out
_build/
env/
venv/
/static/
audio_files/*/*
audio_files/*.mp3
audio_files/*.json
audio_files/*.wav
audio_files/*.m4a
!MotoTalkPermit.mp3  
!point1sec.mp3
settings_local.py
# Area for people to override project templates and static files
local_override/*
!local_override/static
!local_override/README.md
local_override/static/*
!/local_override/static/.static_misc
trunk_player/trunk_player.nginx
trunk_player/nginx.conf
trunk_player/supervisor.conf
daphne.lock
*.log*
running.pid
.vscode/settings.json
