aioredis==2.0.1
asgiref==3.7.2
async-timeout
attrs==23.2.0
autobahn
Automat==22.10.0
certifi==2024.7.4
cffi==1.16.0
channels==4.0.0
channels-redis==4.2.0
chardet==5.2.0
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==42.0.5
daphne==4.1.0
defusedxml==0.7.1
Django==5.0.3
django-allauth==0.61.1
django-appconf==1.0.6
django-ipware==6.0.4
django-redis==5.4.0
django-select2==8.1.2
djangorestframework==3.15.0
hiredis==2.3.2
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
jsonfield==3.1.0
msgpack==1.0.8
msgpack-python==0.5.6
oauthlib==3.2.2
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.8.0
pyOpenSSL==24.1.0
python3-openid==3.2.0
pytz==2021.1
redis==5.0.3
requests==2.32.0
requests-oauthlib==1.4.0
service-identity==24.1.0
six==1.16.0
sqlparse==0.5.0
stripe==8.7.0
tinys3==0.1.12
Twisted==24.3.0
txaio==23.1.1
typing-extensions==4.10.0
urllib3==2.2.1
zope.interface==6.2
