# Local devel Settings
import os
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))
LOCAL_SETTINGS = True

DEBUG = True

ALLOWED_HOSTS = []

# Make this unique, and don't share it with anybody.
# You can use http://www.miniwebtool.com/django-secret-key-generator/
# to create one.
SECRET_KEY = 'gv*f9ntgqmj8fqp+=ycx)v%6*o*#k1v25*a_gmrla3y*yy@*!0'

# Added line to prevent CSRF verification errors with Django
SECURE_PROXY_SSL_HEADER = ()

# Name for site
SITE_TITLE = 'Trunk-Player'
SITE_EMAIL = 'help@example.com'
DEFAULT_FROM_EMAIL='Trunk-Player WebSite <scanner-web-help@example.com>'

# Set this to the location of your audio files
AUDIO_URL_BASE = '//s3.amazonaws.com/SET-TO-MY-BUCKET/'

# Allow TalkGroup access restrictions
ACCESS_TG_RESTRICT = False

USE_RAW_ID_FIELDS = False

# Postgres database setup
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'trunk_player', # Database Name
        'USER': 'trunk_player_user', # Database User Name
        'PASSWORD': 'fake_password', # Database User Password
        'HOST': 'localhost',
        'PORT': '',
    }
}

