# supervisor.conf
## Ensure you edit directory paths and user= varibles in this file to your installation path and user.

[group:trunkplayer]
programs=trunkplayer_asgi_daphne, trunkplayer_asgi_workers, trunkplayer_add_transmission_workers
priority=999


[program:trunkplayer_asgi_daphne]
user=radio
redirect_stderr=true
stdout_logfile=/home/radio/trunk-player/logs/daphne.log
directory=/home/radio/trunk-player
command=/home/radio/trunk-player/env/bin/daphne -u daphne trunk_player.asgi:channel_layer --port 7055 --bind 127.0.0.1

[program:trunkplayer_asgi_workers]
user=radio
redirect_stderr=true
stdout_logfile=/home/radio/trunk-player/logs/runworker_%(process_num)02d.log
command=/home/radio/trunk-player/env/bin/python /home/radio/trunk-player/manage.py runworker
process_name=asgi_worker%(process_num)s
stopasgroup=true
numprocs=4

[program:trunkplayer_add_transmission_workers]
user=radio
redirect_stderr=true
stdout_logfile=/home/radio/trunk-player/logs/add_transmission_worker_%(process_num)02d.log
command=/home/radio/trunk-player/env/bin/python /home/radio/trunk-player/manage.py add_transmission_worker
process_name=add_transmission_worker%(process_num)s
stopasgroup=true
numprocs=4

