{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% load socialaccount %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% block main-body %}
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-8">

<h2>{% get_setting 'SITE_TITLE' %} Cancel Plan</h2>
{% if complete %}
<p>Your subscription is now canceled<p>
{% else %}
<p>Sorry to see you go...<form method="post">{% csrf_token %}<input type="submit" class="btn" value='Confirm Cancel'></form></p>
{% endif %}
		</div>
                <div class="col-md-4 col-lg-4">
{% get_setting 'TWITTER_ACTIVE' as twitter_active %}
{% if twitter_active %}
<a class="twitter-timeline" data-height="1200" href="{% get_setting 'TWITTER_LIST_URL' %}">Alerts</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}

                  </div>

	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; {% get_setting 'COPYRIGHT_NOTICE' %} {% get_setting 'SITE_TITLE' %}</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
