{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% block main-body %}
<div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12">
        <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
        </div>
        <div>
        <h2>City List</h2>
        {% for city in cities %}
            <p><a href="{% url 'city_detail' city.slug %}">{{ city }}</a></p>
        {% endfor %}
       
        </div>
        </div>
	<hr>
</div>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; {% get_setting 'COPYRIGHT_NOTICE' %} {% get_setting 'SITE_TITLE' %}</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
