{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% load socialaccount %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}

{% block main-body %}
{% get_setting 'OPEN_SITE' as open_site %}
{% get_setting 'ALLOW_GOOGLE_SIGNIN' as allow_google %}
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-8">
        <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
        </div>
{{ html_object.bodytext|safe }}
		</div>
                <div class="col-md-4 col-lg-4">
{% if not user.is_authenticated %}

{% if form.errors %}
<p></p>
<div class="alert alert-danger">
Your username and password didn't match. Please try again. If you have an account you can <a href="{% url 'account_reset_password' %}">recover your password</a>. {% if open_site %} Or create a <a href="{% url 'register' %}{% if next %}?next={{ next}}{% endif %}">new account</a>. {% else %}WELL{% endif %}
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login.</p>
    {% endif %}
{% endif %}

<h2>Login</h2>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table border="0">
<tr>
    <td><label for="id_username">Username:</label></td>
    <td><input id="id_username" maxlength="254" name="username" type="text" /></td>
</tr>
<tr>
    <td><label for="id_password">Password:</label></td>
    <td><input id="id_password" name="password" type="password" /></td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />{% if allow_google %} <big> OR <a href="{% provider_login_url "google" %}"><img src="/static/radio/img/btn_google_signin_dark_normal_web.png"></a> </big>{% endif %}
</form>
<hr>
{% if open_site %}
<h2>Create a free account</h2>
<!-- <form method="post" action="{% url 'register' %}"> -->
<form method="post" action="/accounts/signup/">
{% csrf_token %}
<table border="0">
     <tr><th><label for="id_username">Username:</label></th><td><input id="id_username" max_length="30" name="username" type="text" required /></td></tr>
<tr><th><label for="id_email">Email address:</label></th><td><input id="id_email" max_length="30" name="email" type="text" required /></td></tr>
<tr><th><label for="id_password1">Password:</label></th><td><input id="id_password1" max_length="30" name="password1" type="password" required /></td></tr>
<tr><th><label for="id_password2">Password (again):</label></th><td><input id="id_password2" max_length="30" name="password2" type="password" required /></td></tr>
</table>
<input type="submit" value="Register" />
</form>
{% endif %}



{% endif %}
{% get_setting 'TWITTER_ACTIVE' as twitter_active %}
{% if twitter_active %}
<a class="twitter-timeline" data-height="1200" href="{% get_setting 'TWITTER_LIST_URL' %}">Alerts</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}

                  </div>

	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; {% get_setting 'COPYRIGHT_NOTICE' %} {% get_setting 'SITE_TITLE' %}</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
