{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% block main-body %}
<div class="container">
	<div class="row">
		<div class="col-xs-10">
    <h1>
    Welcome to ScanOC
    </h1>
    <p>
    ScanOc is a the new way to listen to your local fire department. Many other sites allow you to live stream audio feeds from a radio scanner. This site is different from all the rest.
    </p>
    <p>
    We give you full control of which talkgroups/frequencies you want to hear. We also time shift (like a DVR) the transmissions. When two transmissions overlap using a standard scanner or streaming site you will only hear one, then you will scan into the second one in progresss, not here. The site will play the first transmission and when that is complete it will start to play the second transmission from the beginning, this is time shifting like a DVR.
    </p>
    <h2>
    Want to help us Beta test
    </h2>
    <p>
    If you would like to help us beta test our new site, Jump right into the <a href="/scan/default/">County Fire Scan List</a> or you can select just the <a href="/scan/ocfa/">OCFA</a> talkgroups. The best way is to use your current google account to create an account and login <a href="/accounts/google/login/"><img src="/static/radio/img/btn_google_signin_dark_normal_web.png"></a>.
    </p>
    <p>If you have questions fell free to reach out to us via <a href="mailto:scanoc.com@gmail.com">email</a> scanoc.com@gmail.com.
    </p>
    
		</div>
                <div class="col-xs-2">
{% settings_amazon_adds as amazon_adds %}
{% if amazon_adds %}
<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_enable_interest_ads = "true";
amzn_assoc_tracking_id = "{% settings_amazon_ad 'AMAZON_AD_TRACKING_ID' %}";
amzn_assoc_ad_mode = "auto";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_linkid = "{% settings_amazon_ad 'AMAZON_AD_LINK_ID' %}";
amzn_assoc_emphasize_categories = "{% settings_amazon_ad 'AMAZON_AD_EMPHASIZE_CATEGORIES' %}";
amzn_assoc_fallback_mode = {"type":"search","value":"{% settings_amazon_ad 'AMAZON_AD_FALL_BACK_SEARCH' %}"};
amzn_assoc_default_category = "All";
amzn_assoc_rows = "6";
</script>
<script src="https://z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
{% endif %}
                  </div>

	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; Copyright 2016 ScanOC.com</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
