{% extends "radio/site_base.html" %}
{% block main-nav %}
{% include "radio/no_nav.html" %}
{% endblock %}
{% block main-body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
    <h1>
    Welcome to ScanOC BETA Test
    </h1>
    <p>
    ScanOc is a the new way to listen to your local fire department. Many other sites allow you to live stream audio feeds from a radio scanner. This site is different from all the rest.
    </p>
    <p>
    We give you full control of which talkgroups/frequencies you want to hear. We also time shift (like a DVR) the transmissions. When two transmissions overlap using a standard scanner or streaming site you will only hear one, then you will scan into the second one in progresss, not here. The site will play the first transmission and when that is complete it will start to play the second transmission from the beginning, this is time shifting like a DVR.
    </p>
    <h2>
    Want to help us Beta test
    </h2>
    <p>
    If you would like to help us beta test our new site, email us at scanoc.com@gmail.com for in invite link. Remember this is beta test and we will be making changes and hopefully improvements based on your feedback.
    </p>
    
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; Copyright 2016 ScanOC.com</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
