{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% load socialaccount %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% block main-body %}
{% get_setting 'PINAX_STRIPE_PUBLIC_KEY' as stripe_pub_key %}
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8 col-lg-8">
        <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
        </div>

<h2>{% get_setting 'SITE_TITLE' %} Plan Page</h2>
<table class="table-bordered ">
<tr><th>Listening History</th><td>{% if default_plan.history >= 24 %}{{ default_plan.history_days }} Days{% else %}{{ default_plan.history }} Minutes{% endif %}</td>
{% for plan in plans %}
<td>{{ plan.history_days }} Days</td>
{% endfor %}
</tr>
<tr><th>Plan Price</th><td>Free</td>
{% for plan in plans %}
<td>${{ plan.stripe_plan.amount }} per month</td>
{% endfor %}

{% if user.is_authenticated %}
<tr><th>&nbsp;</th><td>{% if request.user.profile.plan.name == 'Member' %}Current Plan{% endif %}&nbsp;</td>

{% for plan in plans %}

<td>{% if plan.radio_plan.pk == request.user.profile.plan.pk %}Current Plan
{% comment %}
<a class="btn btn-small btn-danger" href="{% url 'cancel-plan' %}">Cancel Plan</a>
{% endcomment %}
{% else %}
<form name="plan_{{ plan.stripe_amount }}" action="." method="POST">
{% csrf_token %}
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="{{ stripe_pub_key }}"
  data-amount="{{ plan.stripe_amount }}"
  data-name="{% get_setting 'SITE_TITLE' %}"
  data-description="{{ plan.stripe_plan.amount }} Plan"
  data-panel-label="Subscribe"
  data-label="Subscribe ${{ plan.stripe_plan.amount }}"
  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
  data-locale="auto"
  data-allow-remember-me="false"
  data-email="{{ request.user.email }}" 
  data-zip-code="true">
</script>
<input type="hidden" name="plan" value="{{ plan.stripe_plan.stripe_id }}">
</form>
{% endif %}
</td>
{% endfor %}


</tr>
{% else %}
<tr><td colspan="4"><a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login/Create an Account to Subscribe</a>
</td></tr>
{% endif %}
</table>
<div></div>
<div class="plan-questions"><strong>Do I need to have a subscription to us this site?</strong> No. The site is usable to listen to live radio traffic. An upgraded plan allows you listen to radio traffic in the past.
</div>

		</div>
                <div class="col-md-4 col-lg-4">
{% get_setting 'TWITTER_ACTIVE' as twitter_active %}
{% if twitter_active %}
<a class="twitter-timeline" data-height="1200" href="{% get_setting 'TWITTER_LIST_URL' %}">Alerts</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}

                  </div>

	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; {% get_setting 'COPYRIGHT_NOTICE' %} {% get_setting 'SITE_TITLE' %}</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
