{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-body %}
<div class="container">
<div class="container">
  <div class="col-sm-12 col-md-10 col-lg-10">
  <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
  </div>
  {% if inc %}
  <div>
    <p><strong>Incident</strong> : {{ inc.name }}</p>
  </div>
  <div>
    <p><a href="javascript:play_from_start()">Listen from start</a></p>
  </div>
  {% endif %}
  <div id="main-data-table">
Loading Data.....
  </div>
  <div id="no_trans" style="display: none" class=" alert alert-danger" role="alert">
  No transmissions were returned for this page
  </div>
  {% get_user_time user as anonymous_time %}
  {% if not user.is_authenticated and anonymous_time != 0 %}
  <div id="anoymous_time_warn" style="display: none" class=" alert alert-danger" role="alert">
        You are not currently logged into the system. {% if anonymous_time.minutes == -1%} <a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login</a> to access the system.{% else %}You will only see the last {{ anonymous_time.display }} of history. <a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login</a> or <a href="{% url 'register' %}?next={{ request.path | urlencode }}">Create</a> a free acount to see more history.{% endif %}
  </div>
  {% else %}
  <div id="anoymous_time_warn" style="display: none" class=" alert alert-danger" role="alert">
        Your current plan access allows you to listen to radio traffic up to {{ anonymous_time.display }} ago. For more info see the <a href="{% url 'plans' %}">Plans</a> page.
  </div>
  {% endif %}
  </div>
  <div class="col-md-2 col-lg-2">
    <div class="row row-no-border">
{% get_setting 'TWITTER_ACTIVE' as twitter_active %}
{% if twitter_active %}
<a class="twitter-timeline" data-width="220" data-height="1200" href="{% get_setting 'TWITTER_LIST_URL' %}">Alerts</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}
{% settings_amazon_adds as amazon_adds %}
{% if amazon_adds %}
<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_enable_interest_ads = "true";
amzn_assoc_tracking_id = "{% settings_amazon_ad 'AMAZON_AD_TRACKING_ID' %}";
amzn_assoc_ad_mode = "auto";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_linkid = "{% settings_amazon_ad 'AMAZON_AD_LINK_ID' %}";
amzn_assoc_emphasize_categories = "{% settings_amazon_ad 'AMAZON_AD_EMPHASIZE_CATEGORIES' %}";
amzn_assoc_fallback_mode = {"type":"search","value":"{% settings_amazon_ad 'AMAZON_AD_FALL_BACK_SEARCH' %}"};
amzn_assoc_default_category = "All";
amzn_assoc_rows = "6";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
{% endif %}
    </div>
  </div>
<div id="jPlayer"><div id="jquery_jplayer_1"></div></div>
</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; {% get_setting 'COPYRIGHT_NOTICE' %} {% get_setting 'SITE_TITLE' %}</p>
			</footer>
		</div>
	</div>
</div>

<!-- Edit Unit Modal -->
<!-- Modal -->
<div id="unitupdatemodal" class="modal text-center">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>
<div id="old-transmission-modal" class="modal text-center">
    <div class="modal-dialog">
      <div class="modal-content">
          <div>
          <h3>Old Radio Transmission</h3>
           <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div>
          <p>This transmission is older than your current plan allows you to listen to.</p>
          <p>If you would like to hear this and other older transmissions:</p>
          <p>Visit our <a href="/plans/">plans</a> page to upgrade...</p>
          </div>
          
      </div>
    </div>
</div>

{% endblock %}
