{% extends "radio/site_base.html" %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% block main-body %}
<div class="container">
	<div class="row">
		<div id="start_bar" class="col-xs-12">
			<!-- <button type="button" id="button_start_scanner" class="btn play-btn btn-success btn-lg" onclick="play_clip('//s3.amazonaws.com/scanoc-audio-001/MotoTalkPermit', 0, 0)"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start Scanner </button> -->
			<button type="button" id="button_start_scanner" class="btn play-btn btn-success btn-lg" onclick="play_clip('//s3.amazonaws.com/scanoc-audio-001/point1sec', 0, 0)"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start Scanner </button>
	<div class="row">
		<div id="main-data-table" class="col-xs-10">
		</div>
		<div class="col-xs-2">
			<!--
			<div class="alert alert-danger fade in">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong>Error!</strong><p>South Site Offline.</p>
			</div>
			-->
			<!--
			<p>Filter on TalkGroups</p>
			<p>Build Scan Lists</p>
			-->
		</div>
	</div>
	{% if not user.is_authenticated %}
	<div class="row">
		<div id="main-data-table" class="col-xs-12 alert alert-danger" role="alert">
			You are not currently logged into the system. You will only see the last 15 minutes of history. <a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login</a> to see more history.
		</div>
	</div>
	{% endif %}
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; Copyright 2016 ScanOC.com</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
