{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"></script>
<style type="text/css">
#tg-multi{
    width: 600px !important;

}
</style>
<script type="text/javascript">
// TalkGroup Data
url3 = '/api_v1/talkgroups/';
function load_tg() {
    $.getJSON(url3, function(data) {
      url3 = data.next;
        for (var a in data.results) {
            $('.tg-multi-select').append($('<option>', {
                 value: data.results[a].slug,
                 text: data.results[a].alpha_tag + " - " + data.results[a].description
            })).select2();
        }
      if(url3) {
         load_tg();
      }
    });
}

$(document).ready(function() {
  $(".tg-multi-select").select2({
placeholder: "Enter Talk Groups to Scan"
});

load_tg();

});
</script>
{% endblock %}
{% block main-body %}
<div class="container">
	<div class="row">
		<div id="muti-select" class="col-sm-12 col-md-8 col-lg-8">
        <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
        </div>
			<select id="tg-multi" class="tg-multi-select" multiple="multiple">
			</select>
			<button type="button" onclick="update_scan_list()">Update Scan List</button> 
		</div>
	</div>
	<div class="row">
		<div id="main-data-table" class="col-sm-12 col-md-8 col-lg-8">
		</div>
		<div class="col-md-4 col-lg-4">
			<!--
			<div class="alert alert-danger fade in">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong>Error!</strong><p>South Site Offline.</p>
			</div>
			-->
			<!--
			<p>Filter on TalkGroups</p>
			<p>Build Scan Lists</p>
			-->
{% get_setting 'TWITTER_ACTIVE' as twitter_active %}
{% if twitter_active %}
<a class="twitter-timeline" data-width="220" data-height="1200" href="{% get_setting 'TWITTER_LIST_URL' %}">Alerts</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}
{% settings_amazon_adds as amazon_adds %}
{% if amazon_adds %}
<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_enable_interest_ads = "true";
amzn_assoc_tracking_id = "{% settings_amazon_ad 'AMAZON_AD_TRACKING_ID' %}";
amzn_assoc_ad_mode = "auto";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_linkid = "{% settings_amazon_ad 'AMAZON_AD_LINK_ID' %}";
amzn_assoc_emphasize_categories = "{% settings_amazon_ad 'AMAZON_AD_EMPHASIZE_CATEGORIES' %}";
amzn_assoc_fallback_mode = {"type":"search","value":"{% settings_amazon_ad 'AMAZON_AD_FALL_BACK_SEARCH' %}"};
amzn_assoc_default_category = "All";
amzn_assoc_rows = "6";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
{% endif %}

		</div>
	</div>
        {% get_user_time user as anonymous_time %}
        {% if not user.is_authenticated and anonymous_time != 0 %}
        <div id="anoymous_time_warn" style="display: none" class=" alert alert-danger" role="alert">
        You are not currently logged into the system. {% if anonymous_time.minutes == -1%} <a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login</a> to access the system.{% else %}You will only see the last {{ anonymous_time.display }} of history. <a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login</a> or <a href="{% url 'register' %}?next={{ request.path | urlencode }}">Create</a> a free acount to see more history.{% endif %}
        </div>
        {% else %}
        <div id="anoymous_time_warn" style="display: none" class=" alert alert-danger" role="alert">
        Your current plan access allows you to listen to radio traffic up to {{ anonymous_time.display }} ago. For more info see the <a href="{% url 'plans' %}">Plans</a> page.
        </div>
        {% endif %}
        <div id="jPlayer"><div id="jquery_jplayer_1"></div></div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; {% get_setting 'COPYRIGHT_NOTICE' %} {% get_setting 'SITE_TITLE' %}</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
