{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% block main-body %}
<div class="container">
        <div class="row-no-border row">
        <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
        </div>
        <div class="user-profile-user">
           <h3>User Profile</h3>
        <form method="POST">
        {% csrf_token %}
        <table class="profile-table">
        {{ profile_form }}
        </table>
        <input type="submit" value="Update Info">
        </form>
	</div>
        {% get_setting 'SHOW_STRIPE_PLANS' as show_stripe_plans %}
        {% if show_stripe_plans %}
        <div class="user-profile-user">
           <h3>Current Plan</h3>
           *{{ profile.plan }} - <a href="{% url 'plans' %}">Upgrade Plan</a> - <a href="{% url 'cancel-plan' %}">Cancel Plan</a>
        </div>
        {% endif %}
        {% get_setting 'ENABLE_USER_SCAN_LISTS' as enable_user_scan_list %}
        {% if enable_user_scan_list %}
        <div class="user-profile-user">
           <h3>User Scan Lists</h3>
           {% for scan_list in scan_lists %}
           <p class="user-scan"><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ scan_list.name }} <span class="user-scan-link">{% if scan_list.public %}<i class="fa fa-globe" aria-hidden="true" title="Global List"></i>{% endif %} <a href="/scan/{{ scan_list.slug }}/" title="Link"><i class="fa fa-link" aria-hidden="true"></i></a></p>
           <p><span class="user-scan-tg-list">[ {% for tg in scan_list.talkgroups.all %}{{ tg.alpha_tag }}, {% endfor %} ]</span></p>
           {% empty %}<p>No Active Scan Lists</p>
           {% endfor %}
        </div>
        {% endif %}
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; {% get_setting 'COPYRIGHT_NOTICE' %} {% get_setting 'SITE_TITLE' %}</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
