{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% block main-body %}
<div class="container">
	<div class="row">
           <h3>User Profile</h3>
        <form method="POST">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <input type="submit" value="Update Info">
        </form>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<p>&copy; Copyright 2016-2017 {% get_setting 'SITE_TITLE' %}</p>
			</footer>
		</div>
	</div>
</div>
{% endblock %}
