<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">ScanOC</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li class="dropdown">
				  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Scan Lists<b class="caret"></b></a>
				  <ul id="menu-scanlist" role="menu" class="dropdown-menu">
                                        <li><a href="/userscan/">Custom Scan List</a></li>

				  </ul>
				</li>
				<li class="dropdown">
                                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">TalkGroup<b class="caret"></b></a>
                                  <ul id="menu-talkgrouplist" role="menu" class="dropdown-menu">
                                        <li><a href="/talkgroups/">List TalkGroups</a></li>
				</ul>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<div id="jquery_jplayer_1" ></div>
				<li><!-- <span id="jp1_c_time" class="jp-current-time"></span> --><span id="jp1_duration" class="jp-duration" role="timer" aria-label="duration" ></span></li>
				<li><button class="jp-play btn btn-sm" id="jp1_play" title="play"><span class="glyphicon glyphicon-play" aria-hidden="true"></button>&nbsp;</li>
				<li><button class="jp-stop btn btn-sm" id="jp1_stop" title="stop"><span class="glyphicon glyphicon-stop" aria-hidden="true"></button></li>
				{% if user.is_authenticated %}<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ user.username }}<b class="caret"></b></a>
					<ul role="menu" class="dropdown-menu">
					  <li><a href="#">Profile</a></li>
					  <li><a href="#">Settings</a></li>
					  {% if user.is_staff %}
					  <li><a href="/admin/">*Admin*</a></li>
					  {% endif %}
					  <li><a href="{% url 'logout' %}?next={{ request.path | urlencode }}">LogOut</a></li>
					</ul>
				</li>{% else %}<li><a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login</a></li>{% endif %}
			</ul>
		</div>
	</div>
</nav>
