<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ScanOC</title>
{% block pre-head %}{% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
<link href="/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
<link href="/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
<link href="/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
<link href="/icon-hires.png" rel="icon" sizes="192x192" />
<link href="/icon-normal.png" rel="icon" sizes="128x128" />
<link rel="stylesheet" href="/static/radio/css/scanoc_layout.css?ver=0.2">
<script src="/static/radio/js/scanoc_play.js?ver=0.4"></script>
<script src="/static/radio/js/reconnecting-websocket.min.js"></script>
<script src="/static/radio/js/live_calls.js?ver=0.1"></script>
<script>
  js_logged_in_edit_units = 0;
  {% if user.is_staff %}
    js_logged_in_edit_units = 1;
  {% endif %}
</script>
{% block head %}{% endblock %}
</head>
<body>
{% block main-nav %}{% endblock %}
{% block main-body %}{% endblock %}
</body>
</html>                                		
