{% extends "radio/site_base.html" %}
{% block main-nav %}
{% include "radio/site_nav.html" %}
{% endblock %}
{% load socialaccount %}
{% block main-body %}
<div class="container">
        <div class="row">
<div class="col-xs-5">
<h1>Create an account</h1>
You can use your Goggle account to create an account here <a href="{% provider_login_url "google" %}"><img src="/static/radio/img/btn_google_signin_dark_normal_web.png"></a> or create a new account below.
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Register" />
    </form>
</div>
<div class="col-xs-7">
<h3>Beta Testing</h3>
<p>The site is still in beta testing phase. So parden any hickups. Feel free to create an account and use the site. If you have any questions or comments you can email us at <a href="mailto:scanoc.com@gmail.com">scanoc.com@gmail.com</a>.
</p>
</div>
</div>
</div>
{% endblock %}

