{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% load socialaccount %}
{% block main-body %}
<div class="container">
        <div class="row">
<div class="col-sm-12 col-md-8 col-lg-8">
<h1>Create an account</h1>
You can use your Goggle account to create an account here <a href="{% provider_login_url "google" %}"><img src="/static/radio/img/btn_google_signin_dark_normal_web.png"></a> or create a new account below.
    <form method="post" action="/accounts/signup/">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Register" />
    </form>
</div>
<div class="col-md-4 col-lg-4">
<h3>Help</h3>
<p>If you have any questions or comments you can email us at <a href="mailto:{% get_setting 'SITE_EMAIL' %}">{% get_setting 'SITE_EMAIL' %}</a>.</p>
</p>
</div>
</div>
</div>
{% endblock %}

{% block main-footer %}
{% endblock %}

